html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	
	background-color: rgb(160, 199, 236);
	
}

.body {
	padding: 20px;
}
 

/* article list setting */
.sideBar {
	margin: 3rem 0;
}

.article-list-header {
	position: relative;
}

.head_title{
	display: inline;
}

.comment-list {
	position: relative;
}

#newPostBtn ,#commentBtn {
	position: absolute;
	right: 0;
}

.commentInput {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	height: 5rem;
	overflow: auto;
}


/* article setting */
.loading-animation {
	text-align: center;
}

@-webkit-keyframes runanimate {
  0%   {background: red; left: -40px; }
  25%  {background: yellow; left: -20px; }
  50%  {background: blue; left: 0px; }
  75%  {background: green; left: 20px; }
  100% {background: orange; left: 40px; }
}
@keyframes runanimate {
  0%   {background: red; left: -40px; }
  25%  {background: yellow; left: -20px; }
  50%  {background: blue; left: 0px; }
  75%  {background: green; left: 20px; }
  100% {background: orange; left: 40px; }
}


.animate1{
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	margin: 1rem auto;
	border-radius: 50rem;
	background-color: red;
	animation-name: runanimate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.article {
	border-radius: 1rem;
	border: 1px solid rgb(200, 200, 200);
	margin: 1.5rem 0;
	padding: 1rem;	
	background-color: rgba(255, 255, 255, 0.7);
}

.article-author {
	font-size: 0.9rem;
}

.email {
	margin: 0 5px;
	color: gray;
	font-size: 0.75rem;
}

.date {
	margin: 0 5px;
	color: gray;
	font-size: 0.9rem;
}

.comment-list {
	padding: 0.75rem;
}

.comment-author {
	text-align: right;
	font-size: 0.9rem;
}


.title {
	font-size: 2rem;
	color: black;
}
