body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
	background:url("BACK.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;

    
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.FORM{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:600px;
	position:relative;
	background:url(BACK2.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:50px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(90deg);
	backface-visibility:hidden;
	transition:all .3s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .input_group .check{
	display:none;
}

.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .input_group{
	margin-bottom:15px;
}
.login-form .ginput_group .label,
.login-form .input_group .input,
.login-form .input_group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .input_group .input,
.login-form .input_group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .input_group input[data-type="password"]{
	
	-webkit-text-security:circle;
}
.login-form .input_group .label{
	color:#aaa;
    font-size:12px;
}
.login-form .input_group .button{
	background:#1161ee;
}
.login-form .input_group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .input_group label .icon:before,
.login-form .input_group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .input_group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0deg);
}
.login-form .input_group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .input_group .check:checked + label{
	color:#fff;
}
.login-form .input_group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .input_group .check:checked + label .icon:before{
	transform:scale(1) rotate(180deg);
}
.login-form .input_group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.tail_line{
	height:2px;
	margin:20px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.last{
	text-align:center;
}